/* Estilos generales */
body {
            margin: 0;
            font-size: 16px; /* Tamaño de fuente base */
            line-height: 1.5; /* Espaciado entre líneas */
            background: linear-gradient(to bottom, #1c3a64, #ebc634);
            color: #333; /* Color de texto predeterminado */
        }

/* Contenedor principal */
.container {
    width: 80%;
    max-width: 1200px; /* Ancho máximo */
    margin: 20px auto;
    padding: 20px;
    border: 5px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra ligera */
}

/* Título dinámico */
#titulo {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}

/* Formulario de registro */
form {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#numero_control {
    text-align: center;
    font-size: 22px;
    padding: 10px;
    margin-bottom: 10px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

/* Mensaje emergente */
.mensaje {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    max-width: 100%;
    font-size: 18px;
    position: relative;
    border: 2px solid #fff;
    padding: 10px;
    margin-top: 10px;
    overflow: hidden;
    cursor: pointer;
}

.mensaje span {
    display: block;
}

.mensaje-aceptado {
    background: linear-gradient(to right, #6CCB3F, #F9D423);
}

.mensaje-error {
    background: linear-gradient(to right, #FF416C, #FF4B2B);
}

#mensaje-cerrar {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 10px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#mensaje-cerrar:hover {
    background-color: #ddd;
    color: #333;
    border-radius: 50%;
}

/* Estilos responsivos */
/* Estilos responsivos para dispositivos móviles */
@media (max-width: 768px) {
    .header {
        text-align: center;
    }

    .image-container {
        margin: 0 auto;
    }

    .image-container img {
        display: block;
        margin: 0 auto;
        width: 80%;
        height: auto;
    }
}
/* Estilos para el mensaje de conferencias agotadas */
#mensaje-conferencias-agotadas {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}

